@{
    ViewData["Title"] = "Home Page";
}

@section PageStyles {}

@section PageScripts {}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>AdminLTE Ported version for AspNetCore</p>
</div>
